<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.allwinsoccer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".Activites.GruposActivity"
            android:label="@string/title_activity_grupos"></activity>
        <activity
            android:name=".Activites.UpdateActivity"
            android:label="@string/title_activity_update" />
        <activity
            android:name=".Activites.PosicionActivity"
            android:label="@string/title_activity_posicion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.PronosticoActivity"
            android:label="@string/title_activity_pronostico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activites.ApostarActivity"
            android:label="@string/title_activity_apostar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activites.LoginActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>